{
  "presets": ["next/babel"],
  "plugins": [
    [
      "prismjs",
      {
        "languages": ["javascript", "css", "markup", "php", "html", "jsx"],
        "plugins": [],
        "css": true
      }
    ]
  ]
}
